<a href="https://colab.research.google.com/github/MartinSantaGitHub/curso-estadistica-multivariante/blob/master/Tareas/tarea_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np 
import scipy as sc
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px
from math import pi
from pandas.plotting import scatter_matrix
from pandas.plotting import andrews_curves

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/MartinSantaGitHub/curso-estadistica-multivariante/master/Datos/companies79.csv')

In [3]:
df.head()

   Unnamed: 0                            V1     V2  ...      V6    V7             V8
0           1                  BellAtlantic  19788  ...  2576.8  79.4  Communication
1           2            ContinentalTelecom   5074  ...   578.3  21.9  Communication
2           3         AmericanElectricPower  13621  ...   898.9  23.4         Energy
3           4              BrooklynUnionGas   1117  ...    91.7   3.8         Energy
4           5  CentralIllinoisPublicService   1633  ...   135.9   2.8         Energy

[5 rows x 9 columns]

In [4]:
df.shape

(79, 9)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 79 entries, 0 to 78
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  79 non-null     int64
 1   V1          79 non-null     object
 2   V2          79 non-null     int64
 3   V3          79 non-null     int64
 4   V4          79 non-null     int64
 5   V5          79 non-null     float64
 6   V6          79 non-null     float64
 7   V7          79 non-null     float64
 8   V8          79 non-null     object
dtypes: float64(3), int64(4), object(2)
memory usage: 5.7+ KB